@model IEnumerable<MvcBankSystem.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebtorAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditorAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Type)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-controller="Accounts" asp-action="Details" asp-route-id="@item.DebtorAccount!.Id">
                        @Html.DisplayFor(modelItem => item.DebtorAccount!.Number)
                    </a>
                </td>
                <td>
                    <a asp-controller="Accounts" asp-action="Details" asp-route-id="@item.CreditorAccount!.Id">
                        @Html.DisplayFor(modelItem => item.CreditorAccount!.Number)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @* <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
